* {
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: auto;
    box-shadow: 2px 2px 4px grey ;
    
}
.hlink {
    float: right;
}
.header2 {
    background-image:linear-gradient(to bottom right, rgb(46, 12, 90),rgb(82, 13, 82) );
    color :white;
    height: 25em;
}
.lheader {
    clear:right;
    display: flex;
    justify-content: center;

}
.pimage {
    float :left;
    margin-right:1em;
    padding: 0;
    width: 15%;
    box-shadow: 2px 2px 4px grey;
    border-radius: 10px;

}
.hcite {
    background-color: rgb(218, 161, 192);
}
  .cite {
    clear: left;
    width:30em;
    height: 20em;
    margin-left: 19em;
    padding-top: 5em;
    
  }  
  .cit {
    font-size: 25px;
   

  }
  .thor {
    text-align: right;
  }



#ph {
    background-color: grey;
    padding: 4em;
    align-self: center;
    
}
.lheader1 {
    margin: 02em 2em 0 2em;
    
}
 a.slink {
    text-decoration: none;
    color: white;
    margin-top: 2em;
    margin-right: 1em;
    border: 1px solid snow;
    border-radius: 10px;
    padding: 2px;
    transition: border 1s;
    

}
.slink:hover {
    border: 0;
}
a.hlink {
    text-decoration: none;
    color: white;
    margin-top: 2em;
    margin-right: 1em;
    transition: text-decoration 0.5s;
}
.hlink:hover {
    text-decoration: underline;
    
}
.logo {
  padding: 2em;
  display: inline-block;
}
h2 {
    text-align: center;
}
div.desc {
    text-align: center;
    padding: 0px;
    margin: 0;
    font-size: 15px;
}
div.floatc {
  margin-left: 25%;
  height: 100%;

}
img#pim {
    height: 8em;
    width: 100%;
    padding: 0;
    margin: 0;
}
.section {
    margin-top: 5%;
    margin-bottom: 25%;
}
footer {
    background-color: aqua;
    width: 60%;
    margin-left: 15em;
    border-radius: 10px;
    color: white;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
}
.flink{
    text-decoration: none;
    float: right;
    color: white;
}
h3 {
    display: inline-block;
    padding: 2px 0 0 2px;
    margin: 0;
}
.foot {
    padding-bottom: 30px;
}